@model MainViewModel
<link rel="stylesheet" href="~/css/cadastro.css" />

<form asp-controller="Fornecedor" asp-action="CadastrarFornecedor">
    <div style="opacity:0.75; background-color: white; height:710PX">
        <div style="margin-left:100px">
            <div class="row">
                <label class="titulocadastro">Cadastro de Fornecedor</label>
            </div>
            <div class="row">
                <div class="col-2">
                    <label class="campos">Nome</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="text" asp-for="fornecedor.Nome" />
                    <span asp-validation-for="fornecedor.Nome" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="campos">Email</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="text" asp-for="fornecedor.Email" />
                    <span asp-validation-for="fornecedor.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="campos">CNPJ</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="text" asp-for="fornecedor.CNPJ" placeholder="99.999.999/9999-99" onkeydown="javascript: fMasc(this, mCNPJ);" />
                    <span asp-validation-for="fornecedor.CNPJ" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="campos">Telefone</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="text" asp-for="fornecedor.Telefone" placeholder="(99) 99999-9999" onkeypress="mask(this, mphone);" />
                    <span asp-validation-for="fornecedor.Telefone" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="campos">Número</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="number" asp-for="fornecedor.Numero" />
                    <span asp-validation-for="fornecedor.Numero" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="campos">CEP</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="tel" id="cep" onchange="buscaCEP()" asp-for="fornecedor.CEP" placeholder="99999-999" onkeydown="javascript: fMasc(this, formatarCEP);" />
                    <span asp-validation-for="fornecedor.CEP" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label class="campos">Logradouro</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="text" id="logradouro" />
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="campos">Complemento</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="text" asp-for="fornecedor.Complemento" />
                    <span asp-validation-for="fornecedor.Complemento" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="campos">Bairro</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="text" id="bairro" />
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="campos">Cidade</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="text" id="cidade" />
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label class="campos">Estado</label>
                </div>
                <div class="col-6">
                    <input class="textbox" type="text" id="estado" />
                </div>
            </div>


            <input class="botao" type="submit" value="Cadastrar" />
        </div>
    </div>
</form>