@model MainViewModel

    <link rel="stylesheet" href="~/css/cadastro.css" />

    <form asp-controller="CompraVenda" asp-action="CadastrarCompra">

        <div class="row">
            <label class="titulocadastro">Registro de Compra</label>
        </div>


        <div class="row">
            <div class="col-2">
                <label for="fornecedor" class="campos">Codigo Fornecedor</label>
            </div>
            <div class="col-3">
                <select asp-for="compraVenda.CodigoFornecedor" asp-items="ViewBag.Fornecedor" class="form-control"> </select>
                <span asp-validation-for="compraVenda.CodigoFornecedor" class="text-danger"></span>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label class="campos">Codigo do Cliente</labelclass="campos">
            </div>
            <div class="col-3">
                <input type="text" asp-for="compraVenda.CodigoCliente" />
                <span asp-validation-for="compraVenda.CodigoCliente" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label class="campos">Codigo do usuário</label>
            </div>
            <div class="col-3">
                <input type="text" asp-for="compraVenda.CodigoUsuario" />
                <span asp-validation-for="compraVenda.CodigoUsuario" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label class="campos">Codigo do Produto</label>
            </div>
            <div class="col-3">
                <input type="text" asp-for="compraVenda.CodigoProduto" />
                <span asp-validation-for="compraVenda.CodigoProduto" class="text-danger"></span>

            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label class="campos">Quantidade</label>
            </div>
            <div class="col-3">
                <input type="number" asp-for="compraVenda.Quantidade" />
                <span asp-validation-for="compraVenda.Quantidade" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label class="campos">Data da Compra</label>
            </div>
            <div class="col-3">
                <input type="text" asp-for="compraVenda.Data" placeholder="dd/mm/aaaa" onkeydown="fMasc(this, mData);" />
                <span asp-validation-for="compraVenda.Data" class="text-danger"></span>

            </div>
        </div>
        <input class="botao" type="submit" value="Cadastrar" />

    </form>