@model MainViewModel

<div>
    @Model.compraVenda.Tipo = "compra";
    <div class="row">
        <label>Registro de Compra</label>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Codigo do Fornecedor</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="compraVenda.CodigoFornecedor" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Codigo do Cliente</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="compraVenda.CodigoCliente" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Codigo do usuário</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="compraVenda.CodigoUsuario" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Data da Compra</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="compraVenda.Data" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Lista\quantidade dos produtos ... como fazer??</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="compraVenda.ListCodigoProduto" />
        </div>
    </div>

    <input type="submit" value="Cadastrar" />

</div>