@model MainViewModel

<form>
    <table class="table table-responsive">
        <tr>
            <th />
            <th>Tipo </th>
            <th>Quantidade </th>
            <th>Data </th>
        </tr>

        @foreach (CompraVendaViewModel u in Model.compraVendas)
        {
            <tr>
                <td>
                    <a href="" class="btn btn-info">Editar</a>
                </td>

                <td>@u.Tipo</td>
                <td>@u.Quantidade</td>
                <td>@u.Data</td>
            </tr>
        }
    </table>
</form>