.titulocadastro {
    font-family:'Bauhaus 93';
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.campos {
    font-family: Impact;
    font-size: 23px;
    color: #fe6703;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}

.textbox {
    border-radius: 7px;
}

.botao {
    border-radius: 7px;
    background-color: black;
    color: #fe6703;
    font-family: Stencil;
    width: 150px;
    height: 40px;
    font-size: 23px;
    border-color: #fe6703;
}

