/*#homeBody {
    font-family: 'Kiwi Maru', serif;
    background-color: var(--color-primary);
    width: 100%;
    font-size: 60%;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

#homeContent{

}

#homeContent a {

}

#homeContent h1 {
    color: var(--color-line-in-white)
}

.total-connections {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-in-primary);
}

.buttons-container {
    grid-area: button;
    justify-content: flex-start;*/ /*relacionado ao display*/
/*margin: 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font: 500 2.4rem 'Kiwi Maru';
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background 0.2s;
    color: var(--color-button-text);
}

.buttons-container a.cadastre {
    background: var(--color-primary-lighter);
}

.buttons-container a.cadastre:hover {
    background: var(--color-primary-light);
}

.buttons-container a.sobre {
    background: var(--color-secondary);
    margin-right: 0;
}

    .buttons-container a.sobre:hover {
        background: #ecfffe;
    }*/

.titulolayout {
    font-family: Stencil;
    color: #fe6703;
    font-size:55px;
    margin-right:35px;
}

a.titulolayout:visited {
    color: #fe6703;

}

body{
    background-image:url('../img/background.jpeg');
    background-size:100%;
    background-repeat:no-repeat;
}

/* Dropdown Button */
.dropbtn {
    background-color: #fe6703;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.logoffbtn {
    background-color: #fe6703;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #000000;
}   

.nav-button:hover .dropbtn {
    background-color: #000000;
}
.container {
    padding: 2rem 0rem;
}

div.container {
    padding: 0px 0px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
        .modal-content

{
    padding: 1rem;
}

}
}

.modal-header {
    .close

{
    margin-top: -1.5rem;
}

}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons {
    .btn

{
    margin: 0 0.5rem 1rem;
}

}

.signup-section {
    padding: 0.3rem 0rem;
}