@{
    ViewData["Title"] = "Home Page";
}
<body id="homeBody">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <img class="image-logo" src="~/img/box.png/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="total-connections">
                        Mais de 500 empresas já adotaram nosso gerenciamento
                    </p>
                </div>
            </div>
        </div>
        <div id="homeContent" class="col-md-6">
            <h1 id="IndexTitle">ESTOQUE ASIIMOV</h1>
            <h2>
                Sua plataforma ideal para gerenciamento de estoque.
            </h2>
            <img />
            <div class="buttons-container">
                <a class="cadastre" href="/home/novoCurriculo">Faça seu login!</a>
                <a class="sobre" href="/home/Sobre">Saiba Mais</a>
            </div>
        </div>
    </div>
</body>              