@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/homee.css" />
</head>

<body>

    <div>
        <h1 class="letrahomecaps">
            A FERRAMENTA IDEAL PARA SEU ESTOQUE!!!
        </h1>
        <img class="imagembox" src="~/img/box.png" />
        <h1 class="letrahome">
            Quando o cliente perguntar se tem outro tamanho, você não vai precisar ir "caçar" no estoque, com o Estoque Asiimov você terá total controle
            sobre a disponibilidade do seu estoque, e também a relação com clientes e fornecedores.
        </h1>
    </div>

</body>              