@{
    ViewData["Title"] = "Sobre";
}
<div class="container text-center">
    <h1>Developers</h1>
    <p>Projeto desenvolvido por: </p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p><strong>Gustavo Santos Guimarães</strong></p><br>
            <img src="~/images/Gusta.png" alt="picture" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <p><strong>Guilherme Simon Lehr</strong></p><br>
            <img src="~/images/Lehr.png" alt="picture" class="img-responsive">
        </div>

        <div class="col-sm-4">
            <p><strong>Caio Foramiglio Vieira</strong></p><br>
            <img src="~/images/Caio.jpg" alt="picture" class="img-responsive">
        </div>

    </div>
    <div class="row row_bottom">
        <div class="col-sm-4">
            <p><strong>Matheus Faria Sarquis</strong></p><br>
            <img src="~/images/Matheus.png" alt="picture" class="img-responsive diferentao">
        </div>
        <div class="col-sm-4">
            <p><strong>Lucas Frias Oliveira</strong></p><br>
            <img src="~/images/Frias.png" alt="picture" class="img-responsive diferentao">
        </div>
    </div>

</div>

<style>
    h4:last-child {
        font-size: 40px;
        font-weight: bold;
    }

    .diferentao {
        max-height: 441px;
    }
</style>
