@{
    ViewData["Title"] = "Sobre";
}
<link rel="stylesheet" href="~/css/home.css" />
<div class="container text-center">
    <h1>Developers</h1>
    <p>Projeto desenvolvido por: </p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p><strong>Gustavo Santos Guimarães</strong></p><br>
            <img src="~/img/Gusta.png" alt="picture" class="img-responsive cima">
        </div>
        <div class="col-sm-4">
            <p ><strong>Guilherme Simon Lehr</strong></p><br>
            <img src="~/img/Lehr.png" alt="picture" class="img-responsive cima">
        </div>

        <div class="col-sm-4">
            <p ><strong>Caio Foramiglio Vieira</strong></p><br>
            <img src="~/img/Caio.png" alt="picture" class="img-responsive cima">
        </div>

    </div>
    <div class="row row_bottom">
        <div class="col-sm-4">
            <br />
            <p class="campos"><strong>Matheus Faria Sarquis</strong></p><br>
            <img src="~/img/Matheus.png" alt="picture" class="img-responsive baixo">
        </div>
        <div class="col-sm-4">
            <br />
            <p class="campos"><strong>Lucas Frias Oliveira</strong></p><br>
            <img src="~/img/Frias.png" alt="picture" class="img-responsive baixo">
        </div>
    </div>

</div>

<style>
    img {
        max-width: 300px;
        max-height: 250px;
        width: auto;
        height: auto;
       
    }
        img.baixo {
            margin: -25px 0px;
        }
    .campos {
        margin: 20px 0px;
    }
    p {
        margin: 0px;
        color: darkorange;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
</style>
