@model ProdutoViewModel
@{
    ViewData["Title"] = "Cadastro de Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Produto" asp-action="CadastrarProduto">

    <div class="row">
        <label>Cadastro de Produto</label>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Tipo</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="Tipo" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Cor</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="Cor" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Tamanho</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="Tamanho" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Descrição</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="Descricao" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Quantidade</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="Quantidade" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Imagem</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="Imagem" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Código do Fornecedor</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="CodigoFornecedor" />
        </div>
    </div>

    <input type="submit" value="Cadastrar" />

</form>