@model MainViewModel
@{
    ViewData["Title"] = "Cadastro de Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Produto" asp-action="CadastrarProduto" enctype="multipart/form-data">

    <div class="row">
        <label>Cadastro de Produto</label>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Tipo</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="produto.Tipo" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Cor</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="produto.Cor" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Tamanho</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="produto.Tamanho" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Descrição</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="produto.Descricao" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Quantidade</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="produto.Quantidade" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Imagem</label>
        </div>
        <br />
        <input type="file" name="Imagem" id="Imagem" onchange="exibirImagem()" class="btn btn-secondary" asp-for="produto.Imagem">
        <img id="imgPreview" src="data:image/jpeg;base64,@Model.produto.ImagemEmBase64" class="img-responsive"
             width="200">
        <br />
    </div>

    <div class="row">
        <div class="col-2">
            <label>Código do Fornecedor</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="produto.CodigoFornecedor" />
        </div>
    </div>

    <input type="submit" value="Cadastrar" />

    <script>
        function exibirImagem() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("Imagem").files[0]);
            oFReader.onload = function (oFREvent) {
                document.getElementById("imgPreview").src = oFREvent.target.result;
            };
        }
    </script>
</form>