@model MainViewModel


<form asp-controller="Cliente" asp-action="CadastrarCliente">

    <div class="row">
        <label>Cadastro de Usuário</label>
    </div>
    <div>
        <label for="pj">Pessoa Jurídica</label>
        <input type="checkbox" id="pj" name="pj" value="Pessoa Jurídica" onchange="checkPJ()">
    </div>

    <div class="row">
        <div class="col-2">
            <label>Nome</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="cliente.Nome" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Email</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="cliente.Email" />
        </div>
    </div>

    <div id="divCPF">
        <div class="row">
            <div class="col-2">
                <label>CPF</label>
            </div>
            <div class="col-3">
                <input type="text" asp-for="cliente.CPF" placeholder="999.999.999-99" onkeydown="javascript: fMasc(this, mCPF);" />
            </div>
        </div>
    </div>

    <div id="divCNPJ" style="display:none">
        <div class="row">
            <div class="col-2">
                <label>CNPJ</label>
            </div>
            <div class="col-3">
                <input type="text" asp-for="cliente.CNPJ" placeholder="99.999.999/9999-99" onkeydown="javascript: fMasc(this, mCNPJ);" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-2">
            <label>Telefone</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="cliente.Telefone" placeholder="(99) 99999-9999" onkeypress="mask(this, mphone);" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Número</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="cliente.Numero" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>CEP</label>
        </div>
        <div class="col-3">
            <input type="text" id="cep" onchange="buscaCEP()" asp-for="cliente.CEP" placeholder="99999-999" onkeydown="javascript: fMasc(this, formatarCEP);" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Logradouro</label>
        </div>
        <div class="col-3">
            <input type="text" id="logradouro" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Complemento</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="cliente.Complemento" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Bairro</label>
        </div>
        <div class="col-3">
            <input type="text" id="bairro" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Cidade</label>
        </div>
        <div class="col-3">
            <input type="text" id="cidade" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Estado</label>
        </div>
        <div class="col-3">
            <input type="text" id="estado" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Data de Nascimento</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="cliente.DataNascimento" placeholder="dd/mm/aaaa" onkeydown="fMasc(this, mData);" />
        </div>
    </div>

    <input type="submit" value="Cadastrar" />

</form>