@model MainViewModel

<link rel="stylesheet" href="~/css/cadastro.css" />
<form asp-controller="Usuario" asp-action="CadastrarUsuario">

    <div class="row">
        <label class="titulocadastro">Cadastro de Usuário</label>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Nome</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Nome" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Email</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Email" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Senha</label>
        </div>
        <div class="col-3">
            <input type="password" asp-for="usuario.Senha" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Telefone</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Telefone" placeholder="(99) 99999-9999" onkeypress="mask(this, mphone);" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Número</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Numero" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">CEP</label>
        </div>
        <div class="col-3">
            <input type="text" id="cep" onchange="buscaCEP()" asp-for="usuario.CEP" placeholder="99999-999" onkeydown="javascript: fMasc(this, formatarCEP);" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Logradouro</label>
        </div>
        <div class="col-3">
            <input type="text" id="logradouro" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Complemento</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Complemento" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Bairro</label>
        </div>
        <div class="col-3">
            <input type="text" id="bairro" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Cidade</label>
        </div>
        <div class="col-3">
            <input type="text" id="cidade" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label class="campos">Estado</label>
        </div>
        <div class="col-3">
            <input type="text" id="estado" />
        </div>
    </div>

    <input type="submit" value="Cadastrar" />

</form>