@model MainViewModel


<form asp-controller="Usuario" asp-action="CadastrarUsuario">

    <div class="row">
        <label>Cadastro de Usuário</label>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Nome</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Nome" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Email</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Email" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Senha</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Senha" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Telefone</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Telefone" placeholder="(99) 99999-9999" onkeypress="mask(this, mphone);" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Número</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Numero" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>CEP</label>
        </div>
        <div class="col-3">
            <input type="text" id="cep" onchange="buscaCEP()" asp-for="usuario.CEP" placeholder="99999-999" onkeydown="javascript: fMasc(this, formatarCEP);" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Logradouro</label>
        </div>
        <div class="col-3">
            <input type="text" id="logradouro" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Complemento</label>
        </div>
        <div class="col-3">
            <input type="text" asp-for="usuario.Complemento" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Bairro</label>
        </div>
        <div class="col-3">
            <input type="text" id="bairro" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Cidade</label>
        </div>
        <div class="col-3">
            <input type="text" id="cidade" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>Estado</label>
        </div>
        <div class="col-3">
            <input type="text" id="estado" />
        </div>
    </div>

    <input type="submit" value="Cadastrar" />

</form>