@model MainViewModel

<form>
    <table class="table table-responsive">
        <tr>
            <th />
            <th>Nome </th>
            <th>Email </th>
            <th>CEP </th>
            <th>Telefone</th>
        </tr>

        @foreach (UsuarioViewModel u in Model.usuarios)
        {
            <tr>
                <td>
                    <a href="/Usuario/Delete?pk=@u.Codigo"  class="btn btn-danger">Apagar</a>
                    <a href="" class="btn btn-info">Editar</a>
                </td>

                <td>@u.Nome</td>
                <td>@u.Email</td>
                <td>@u.CEP</td>
                <td>@u.Telefone</td>
            </tr>
        }
    </table>
</form>